Repository IPDSnelting/velcom, pull requests merged in 2020-09, with the labels that each got.

#55 Concurrent db access
  backend/backend/pom.xml
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/BenchmarkReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/BenchmarkWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/KnownCommitReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/KnownCommitWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/RepoReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/RepoWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/TaskReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/TaskWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/TokenReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/policy/RoundRobinFiloPolicy.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/storage/db/DBReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/storage/db/DBWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/storage/db/DatabaseStorage.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/storage/db/ThreadSafeConnectionProvider.java
Labels: backend

#53 Api spec changes
  docs/public-api/public-api.v2.yaml
Labels: api

#62 Return repo dimensions instead of empty list
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/BenchmarkReadAccess.java
Labels: backend, bug

#58 Fix api inconsistencies
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/runcomparison/DimensionDifference.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonDimensionDifference.java
  backend/backend/src/main/resources/example_config.yml
  docs/public-api/public-api.v2.yaml
Labels: api, backend

#59 Runner (and backend) improvements
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/BenchmarkReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/CommitReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/archives/BenchRepoArchive.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/entities/Measurement.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/entities/Run.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/entities/RunBuilder.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/entities/Task.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/entities/benchmark/NewMeasurement.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/entities/benchmark/NewRun.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/linearlog/CommitAccessBasedLinearLog.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/linearlog/LinearLog.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/CommitEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/GraphComparisonEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/GraphDetailEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/QueueEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RecentRunsEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/utils/EndpointUtils.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonMeasurement.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonRunDescription.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonSource.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonTask.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/Dispatcher.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/ServerMasterWebsocketServlet.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/RunnerConnection.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/TeleRunner.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/state/AwaitSendWorkEnd.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/state/TeleRunnerState.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/state/TimeoutState.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/access/CommitAccessTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/data/linearlog/CommitAccessBasedLinearLogTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/data/repocomparison/TimesliceComparisonTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/restapi/endpoints/utils/EndpointUtilsTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonRunDescriptionTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonRunTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonSourceTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonTaskTest.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/Connection.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/RunnerInfo.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/RunnerMain.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/TeleBackend.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/benchmarking/BenchmarkFailureInformation.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/benchmarking/Benchmarker.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/formatting/NamedRows.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/formatting/NamedSections.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/states/AwaitingBench.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/states/AwaitingRequestRunReply.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/states/AwaitingRun.java
  backend/runner/src/test/java/de/aaaaaaah/velcom/runner/benchmarking/BenchmarkFailureInformationTest.java
  backend/runner/src/test/java/de/aaaaaaah/velcom/runner/formatting/NamedRowsTest.java
  backend/runner/src/test/java/de/aaaaaaah/velcom/runner/formatting/NamedSectionsTest.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/util/Either.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/util/Pair.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/util/Timeout.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/util/systeminfo/CpuInfo.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/util/systeminfo/MemoryInfo.java
  backend/shared/src/test/java/de/aaaaaaah/velcom/shared/util/EitherTest.java
  backend/shared/src/test/java/de/aaaaaaah/velcom/shared/util/PairTest.java
  backend/shared/src/test/java/de/aaaaaaah/velcom/shared/util/TimeoutTest.java
Labels: backend, runner, shared

#60 Build with commit hash
  backend/backend/pom.xml
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/runner/pom.xml
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/RunnerMain.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/GitProperties.java
Labels: backend, meta, runner

#61 Update backend dependencies
  backend/backend/pom.xml
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/BenchmarkReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/BenchmarkWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/TaskReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/TaskWriteAccess.java
  backend/pom.xml
  backend/runner/pom.xml
  backend/shared/pom.xml
Labels: backend, meta, runner

#63 Show the git hash the frontend was built from in About
  frontend/src/views/About.vue
  frontend/vue.config.js
Labels: frontend

#64 Debug endpoint
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/DebugEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/KnownRunner.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/TeleRunner.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/states/RunnerState.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/protocol/serialization/serverbound/GetStatusReply.java
  backend/shared/src/test/java/de/aaaaaaah/velcom/shared/protocol/serialization/serverbound/GetStatusReplyTest.java
Labels: api, backend, runner, shared

#66 Fix formatting of task authors
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/QueueEndpoint.java
Labels: backend, bug

#65 Better runner info
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/benchmarking/Benchmarker.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/util/systeminfo/CpuInfo.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/util/systeminfo/MemoryInfo.java
Labels: runner

#72 Rename "Recent Commits" to "Recent Runs" on home page
  frontend/src/views/Home.vue
Labels: frontend

#70 Implement working_since for runners
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonRunner.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/KnownRunner.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/TeleRunner.java
Labels: backend

#69 Return children of commit in /commit endpoint
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/CommitReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/CommitEndpoint.java
Labels: backend

#68 Add some indices
  backend/backend/src/main/resources/db/migration/V4__better_indices.sql
Labels: backend

#67 Manage branches in Listener
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/Listener.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RepoEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/storage/repo/GuickCloning.java
Labels: backend, bug

#78 Show snackbar message when (re-)benchmark was triggered
  frontend/src/store/modules/queueStore.ts
Labels: frontend

#77 Fix tasks appearing twice in the queue
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/policy/RoundRobinFiloPolicy.java
Labels: backend, bug

#76 Limit children to commits reachable from tracked branches
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/CommitReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/CommitEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonCommit.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonCommitTest.java
  docs/public-api/public-api.v2.yaml
  frontend/src/components/rundetail/CommitDetail.vue
  frontend/src/components/rundetail/CommitNavigationButton.vue
  frontend/src/store/types.ts
  frontend/src/util/CommitComparisonJsonHelper.ts
Labels: api, backend, bug, frontend

#80 Fix repoid being serialized incorrectly in /graph/comparison endpoint
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/GraphComparisonEndpoint.java
Labels: backend, bug

#82 Don't crash when bench repo changes its default branch
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/ArchiveAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/exceptions/MalformedRepoException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/Listener.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/storage/repo/GuickCloning.java
Labels: backend, bug

#75 Introduce micrometer metrics
  .github/workflows/docker-publish.yml
  Dockerfile
  Dockerfile-Single-Port
  Makefile
  backend/backend/pom.xml
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/ArchiveAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/BenchmarkReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/BenchmarkWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/CommitReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/RepoReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/policy/RoundRobinFiloPolicy.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/repocomparison/TimesliceComparison.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/Listener.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/AllReposEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/CommitEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/CompareEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/GraphComparisonEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/GraphDetailEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/QueueEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RecentRunsEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RepoEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RunEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/TestTokenEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/storage/db/DatabaseStorage.java
  backend/backend/src/main/resources/META-INF/aop.xml
  docs/start-backend-docker.sh
Labels: backend

#73 Display correct diff and error message in RunDetail
  frontend/src/components/overviews/QueueOverview.vue
  frontend/src/components/repodetail/RepoBaseInformation.vue
  frontend/src/components/rundetail/MeasurementsDisplay.vue
  frontend/src/util/CommitComparisonJsonHelper.ts
Labels: frontend

#74 Allow runs without differences
  frontend/src/components/rundetail/MeasurementsDisplay.vue
  frontend/src/store/modules/commitDetailComparisonStore.ts
  frontend/src/store/types.ts
Labels: frontend

#86 Fix cache meter name collision
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
Labels: backend, bug

#84 Do not crash if saving runner results fails
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/PeriodicStatusRequester.java
Labels: backend

#81 Update the "working since" time every second
  frontend/src/components/overviews/QueueOverview.vue
Labels: frontend

#85 Minor frontend improvements
  frontend/src/components/rundetail/CommitDetail.vue
  frontend/src/store/modules/commitDetailComparisonStore.ts
  frontend/src/store/modules/detailGraphStore.ts
  frontend/src/views/RunCommitDetailView.vue
Labels: frontend

#89 Fix units and interpretations missing for a metric after semi-failed run
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/BenchmarkReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/entities/RunBuilder.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/TeleRunner.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/benchmarking/output/BenchmarkScriptOutputParser.java
  backend/runner/src/test/java/de/aaaaaaah/velcom/runner/benchmarking/BenchmarkerTest.java
  backend/runner/src/test/java/de/aaaaaaah/velcom/runner/benchmarking/output/BenchmarkScriptOutputParserTest.java
  backend/runner/src/test/resources/benchmark-script/invalid-metric-input.csv
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/protocol/serialization/Result.java
Labels: backend, bug, runner, shared

#92 Significant recent runs
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/runcomparison/DimensionDifference.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/runcomparison/RunComparator.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/CompareEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RecentRunsEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RunEndpoint.java
  frontend/src/components/overviews/MultipleRunOverview.vue
  frontend/src/store/types.ts
Labels: backend, bug, frontend

#88 Preserve empty folders in TARs
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/util/TransferUtils.java
Labels: backend

#96 Improve cache stats with .recordStats()
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/BenchmarkReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/RepoReadAccess.java
Labels: backend

#100 Do not send work to runners if backend is not ready
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/Dispatcher.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/ServerMasterWebsocketServlet.java
Labels: backend, bug

#95 Fix repo archive not being removed after transfer
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/ArchiveAccess.java
Labels: backend, bug

#99 Always find all commits in Listener#checkForUnknownCommits()
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/Listener.java
Labels: backend, bug

#104 Use yarnpkg instead of yarn
  frontend/Makefile
Labels: frontend, meta

#105 Fix 500 in some cases
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/CommitReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/RepoWriteAccess.java
Labels: backend, bug

#83 Fix startTime and endTime in RepoComparisonGraph
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/repocomparison/RepoComparisonGraph.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/repocomparison/RepoDataResult.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/repocomparison/TimesliceComparison.java
Labels: backend, bug

#106 Fix order of significant runs
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RecentRunsEndpoint.java
Labels: backend, bug

#108 CD runner as well
  .github/workflows/docker-publish.yml
  docs/deploy.sh
Labels: meta

#109 Improve performance of /recent/runs endpoint
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/entities/Run.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/entities/sources/CommitSource.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/recentruns/SignificantRun.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/recentruns/SignificantRunsCollector.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/runcomparison/DimensionDifference.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/runcomparison/RunComparator.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RecentRunsEndpoint.java
Labels: backend

#110 Clean up and fix potential bug
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/BenchmarkReadAccess.java
Labels: backend, bug
