Repository IPDSnelting/velcom, pull requests merged in 2020-10, with the labels that each got.

#94 Rename Run-Detail to Detail
  frontend/src/router/index.ts
Labels: frontend

#103 Sort metrics and benchmarks in the dimension selectors
  frontend/src/components/graphs/DimensionSelection.vue
  frontend/src/components/graphs/MatrixDimensionSelection.vue
Labels: frontend

#111 Add a small "No benchmark" message on run detail page
  frontend/src/views/RunCommitDetailView.vue
Labels: frontend

#91 De-emphasise unselected runs, reverse order
  frontend/src/components/rundetail/RunTimeline.vue
  frontend/src/store/types.ts
  frontend/src/util/CommitComparisonJsonHelper.ts
Labels: frontend

#101 Link runs to run not commit
  frontend/src/components/overviews/CommitOverviewBase.vue
  frontend/src/components/overviews/RunOverview.vue
Labels: frontend

#87 Graph bugs and enhancements
  frontend/package.json
  frontend/src/components/dialogs/DetailDatapointDialog.vue
  frontend/src/components/graphs/ComparisonGraph.vue
  frontend/src/components/graphs/DimensionSelection.vue
  frontend/src/components/graphs/EchartsDetailGraph.vue
  frontend/src/components/graphs/MatrixDimensionSelection.vue
  frontend/src/components/graphs/NewDytailGraph.vue
  frontend/src/components/overviews/QueueOverview.vue
  frontend/src/diegraphs-extra.d.ts
  frontend/src/store/modules/comparisonGraphStore.ts
  frontend/src/store/modules/detailGraphStore.ts
  frontend/src/store/modules/repoStore.ts
  frontend/src/store/persistence.ts
  frontend/src/store/types.ts
  frontend/src/util/GraphJsonHelper.ts
  frontend/src/util/StorePersistenceUtilities.ts
  frontend/src/views/NewRepoDetail.vue
  frontend/src/views/RepoComparison.vue
  frontend/yarn.lock
Labels: bug, frontend

#93 Link to commits on remotes
  frontend/src/components/CommitBenchmarkActions.vue
  frontend/src/components/overviews/RunOverview.vue
  frontend/src/components/repodetail/RepoCommitOverview.vue
  frontend/src/components/rundetail/CommitDetail.vue
Labels: frontend

#90 Fix run-comparison metrics and show Information
  frontend/src/components/comparison/RunComparisonTable.vue
  frontend/src/components/overviews/CommitOverviewBase.vue
  frontend/src/components/rundetail/CommitDetail.vue
  frontend/src/components/rundetail/RunDetail.vue
  frontend/src/components/rundetail/RunInfo.vue
  frontend/src/views/RunCommitDetailView.vue
  frontend/src/views/RunComparison.vue
Labels: frontend

#102 Permanent links to detail graph
  frontend/src/components/CommitChip.vue
  frontend/src/store/modules/detailGraphStore.ts
  frontend/src/util/ClipboardUtils.ts
  frontend/src/util/TimeUtil.ts
  frontend/src/views/NewRepoDetail.vue
  frontend/src/views/RepoDetailFrame.vue
  frontend/src/views/ShareGraphLinkDialog.vue
Labels: frontend

#117 Fix db migrations
  backend/backend/src/main/resources/db/migration/V2__runner_protocol_rewrite.sql
Labels: backend, bug

#118 Switch default bench repo to unibench
  backend/backend/src/main/resources/example_config.yml
Labels: backend

#120 Fix listener not adding some commits to queue
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/Listener.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RepoEndpoint.java
Labels: backend, bug

#119 Always use newest all-repo state
  frontend/src/store/modules/repoStore.ts
Labels: frontend

#114 Delete outdated local storage
  frontend/src/store/index.ts
  frontend/src/store/persistence.ts
Labels: frontend

#113 Delete erroneous button, move share graph button up
  frontend/src/components/graphs/EchartsDetailGraph.vue
  frontend/src/views/NewRepoDetail.vue
Labels: frontend

#123 1-up functionality isn't implemented yet, so hide the button
  frontend/src/components/CommitBenchmarkActions.vue
Labels: frontend

#125 Also register zooming using the slider in echarts graph
  frontend/src/components/graphs/EchartsDetailGraph.vue
Labels: bug, frontend

#126 Don't fail on aspectj weaver jar in Makefile
  Makefile
Labels: bug, meta

#122 Parallelize CI
  .github/workflows/docker-publish.yml
Labels: meta

#116 Fully support dark mode in graphs
  frontend/package.json
  frontend/src/components/graphs/EchartsDetailGraph.vue
  frontend/src/components/graphs/NewDytailGraph.vue
  frontend/src/plugins/vuetify.ts
  frontend/yarn.lock
Labels: frontend

#128 Run detail table improvements
  frontend/src/components/rundetail/MeasurementsDisplay.vue
Labels: frontend

#130 Minor frontend improvements
  frontend/src/components/graphs/ComparisonGraph.vue
  frontend/src/components/graphs/GraphPlaceholder.vue
  frontend/src/components/overviews/MultipleRunOverview.vue
  frontend/src/components/rundetail/MeasurementsDisplay.vue
  frontend/src/components/rundetail/RunDetail.vue
  frontend/src/store/persistence.ts
  frontend/src/util/GraphNavigation.ts
  frontend/src/views/NewRepoDetail.vue
  frontend/src/views/RunCommitDetailView.vue
  frontend/src/views/RunComparison.vue
Labels: enhancement, frontend

#134 Update frontend dependencies
  frontend/.eslintrc.js
  frontend/.prettierrc.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/CommitBenchmarkActions.vue
  frontend/src/components/RepoSelector.vue
  frontend/src/components/ThemeSelector.vue
  frontend/src/components/comparison/RunComparisonTable.vue
  frontend/src/components/dialogs/DetailDatapointDialog.vue
  frontend/src/components/dialogs/RepoUpdateDialog.vue
  frontend/src/components/graphs/ComparisonGraph.vue
  frontend/src/components/graphs/Dygraph-Detail.vue
  frontend/src/components/graphs/EchartsDetailGraph.vue
  frontend/src/components/graphs/NewDytailGraph.vue
  frontend/src/components/graphs/crosshairIcon.ts
  frontend/src/components/overviews/MultipleRunOverview.vue
  frontend/src/components/overviews/QueueOverview.vue
  frontend/src/components/overviews/TarTaskOverview.vue
  frontend/src/components/rundetail/CommitDetail.vue
  frontend/src/components/rundetail/CommitNavigationButton.vue
  frontend/src/components/rundetail/MeasurementsDisplay.vue
  frontend/src/components/rundetail/RunDetail.vue
  frontend/src/components/rundetail/RunInfo.vue
  frontend/src/components/rundetail/RunTimeline.vue
  frontend/src/main.ts
  frontend/src/store/modules/comparisonGraphStore.ts
  frontend/src/store/modules/detailGraphStore.ts
  frontend/src/views/NewRepoDetail.vue
  frontend/src/views/RepoComparison.vue
  frontend/src/views/RunCommitDetailView.vue
  frontend/src/views/ShareGraphLinkDialog.vue
  frontend/src/vue-class-components.d.ts
  frontend/vue.config.js
  frontend/yarn.lock
Labels: frontend

#98 [Experimental] Day equidistant echarts
  frontend/src/components/graphs/EchartsDetailGraph.vue
  frontend/src/views/NewRepoDetail.vue
Labels: enhancement, frontend

#135 Fix text copying in insecure contexts (e.g. over HTTP)
  frontend/src/components/CommitChip.vue
  frontend/src/util/ClipboardUtils.ts
Labels: bug, frontend

#138 Update dependencies
  frontend/yarn.lock
Labels: frontend

#140 Sort the graph legend tooltips to match the displayed point order
  frontend/src/components/graphs/EchartsDetailGraph.vue
  frontend/src/components/graphs/NewDytailGraph.vue
Labels: frontend

#141 Allow benchmarks without metrics
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/benchmarking/output/BenchmarkScriptOutputParser.java
  backend/runner/src/test/java/de/aaaaaaah/velcom/runner/benchmarking/output/BenchmarkScriptOutputParserTest.java
  backend/runner/src/test/resources/benchmark-script/valid-input.csv
Labels: bug, runner

#121 Stream and display stdout/stderr in Runner
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/QueueEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/KnownRunner.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/TeleRunner.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/TeleBackend.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/benchmarking/Benchmarker.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/states/RunnerState.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/protocol/serialization/serverbound/GetStatusReply.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/util/LinesWithOffset.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/util/StringOutputStream.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/util/execution/ProgramExecutor.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/util/execution/StreamsProcessOutput.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/util/execution/WaitingFutureTask.java
  backend/shared/src/test/java/de/aaaaaaah/velcom/shared/protocol/serialization/serverbound/GetStatusReplyTest.java
  backend/shared/src/test/java/de/aaaaaaah/velcom/shared/util/execution/ProgramExecutorTest.java
  bench
  docs/public-api/public-api.v2.yaml
  frontend/src/components/TaskRunnerOutput.vue
  frontend/src/components/overviews/QueueOverview.vue
  frontend/src/components/rundetail/RunDetail.vue
  frontend/src/router/index.ts
  frontend/src/store/modules/queueStore.ts
  frontend/src/store/types.ts
  frontend/src/util/QueueJsonHelper.ts
  frontend/src/views/Queue.vue
  frontend/src/views/TaskDetailView.vue
Labels: runner, shared

#143 Fix click on error button taking you to detail graph
  frontend/src/components/rundetail/MeasurementsDisplay.vue
Labels: bug, frontend

#142 Use dygraphs graph for large datasets
  frontend/src/views/NewRepoDetail.vue
Labels: frontend

#144 Process and display ANSI colors
  backend/Makefile
  frontend/Makefile
  frontend/package.json
  frontend/src/ansi-to-html.d.ts
  frontend/src/components/TaskRunnerOutput.vue
  frontend/src/components/rundetail/MeasurementsDisplay.vue
  frontend/src/components/rundetail/RunDetail.vue
  frontend/src/util/TextUtils.ts
  frontend/yarn.lock
Labels: frontend

#150 Fix graph permanent link and graph tooltip xss
  frontend/src/components/graphs/EchartsDetailGraph.vue
  frontend/src/components/graphs/NewDytailGraph.vue
  frontend/src/store/modules/detailGraphStore.ts
  frontend/src/util/TextUtils.ts
Labels: bug, frontend

#155 Sort tables by value...
  frontend/src/components/comparison/RunComparisonTable.vue
  frontend/src/components/rundetail/MeasurementsDisplay.vue
Labels: bug, frontend

#154 Navigate and refresh
  frontend/src/App.vue
  frontend/src/components/NavigationBar.vue
  frontend/src/components/graphs/ComparisonGraph.vue
  frontend/src/views/RepoComparison.vue
Labels: frontend

#156 Fix some small bugs
  frontend/src/components/graphs/DimensionSelection.vue
  frontend/src/components/graphs/EchartsDetailGraph.vue
  frontend/src/components/graphs/GraphPlaceholder.vue
  frontend/src/components/rundetail/MeasurementsDisplay.vue
  frontend/src/store/modules/detailGraphStore.ts
  frontend/src/views/NewRepoDetail.vue
  frontend/src/views/Queue.vue
Labels: bug, frontend
