Repository IPDSnelting/velcom, pull requests merged in 2020-11, with the labels that each got.

#161 Fix exception when encountering successful runs without measurements
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/BenchmarkReadAccess.java
Labels: backend, bug

#162 Respect `tracked` in `getTrackedCommitsBetween`
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/committaccess/CommitReadAccess.java
Labels: backend, bug

#160 Fix "ENTER" in duration field
  frontend/src/views/NewRepoDetail.vue
Labels: bug, frontend

#164 Dark theme adjustments
  frontend/src/App.vue
  frontend/src/components/NavigationBar.vue
  frontend/src/components/RepoSelector.vue
  frontend/src/components/repodetail/RepoBaseInformation.vue
  frontend/src/components/repodetail/RepoCommitOverview.vue
  frontend/src/plugins/vuetify.ts
  frontend/src/views/About.vue
  frontend/src/views/Home.vue
  frontend/src/views/Queue.vue
Labels: frontend

#163 Commiter date based detail graph
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/committaccess/CommitReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/GraphDetailEndpoint.java
  docs/public-api/public-api.v2.yaml
  frontend/src/components/dialogs/DetailDatapointDialog.vue
  frontend/src/components/graphs/Dygraph-Detail.vue
  frontend/src/components/graphs/EchartsDetailGraph.vue
  frontend/src/components/graphs/NewDytailGraph.vue
  frontend/src/components/repodetail/RepoCommitOverview.vue
  frontend/src/store/modules/detailGraphStore.ts
  frontend/src/store/types.ts
  frontend/src/util/GraphJsonHelper.ts
  frontend/src/util/StorePersistenceUtilities.ts
  frontend/src/views/NewRepoDetail.vue
Labels: backend, frontend

#167 Clean up queue implementation
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/ArchiveAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/BenchmarkWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/TaskReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/TaskWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/entities/RunBuilder.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/entities/RunId.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/entities/Task.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/entities/benchmark/NewRun.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/exceptions/NoSuchTaskException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/exceptions/PrepareTransferException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/exceptions/TransferException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/policy/QueuePolicy.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/policy/QueuePriority.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/policy/RoundRobinFiloPolicy.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/queue/Policy.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/queue/Queue.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/Listener.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/dbupdate/DbUpdater.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/AccessUtils.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/benchmarkaccess/BenchmarkReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/committaccess/CommitReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/repoaccess/RepoReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/taskaccess/TaskReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/taskaccess/TaskWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/taskaccess/entities/Task.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/taskaccess/entities/TaskId.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/taskaccess/entities/TaskPriority.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/taskaccess/exceptions/NoSuchTaskException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/QueueEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/exception/NoSuchTaskExceptionMapper.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonTask.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/Dispatcher.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/IDispatcher.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/KnownRunner.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/TeleRunner.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/storage/db/DBReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/storage/db/DatabaseStorage.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/util/CheckedFunction.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/data/queue/PolicyTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/prototype/RepoStorageTest.java
Labels: backend

#131 Graph enhancements
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/dialogs/DetailDatapointDialog.vue
  frontend/src/components/graphs/DytailGraph.vue
  frontend/src/components/graphs/EchartsDetailGraph.vue
  frontend/yarn.lock
Labels: enhancement, frontend

#168 Empty queue using a dedicated endpoint
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/QueueEndpoint.java
  docs/public-api/public-api.v2.yaml
  frontend/src/store/modules/queueStore.ts
  frontend/src/views/Queue.vue
Labels: frontend

#172 Improve backend coverage metric parser
  bench
Labels: meta

#174 Fix adding new repo
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/repoaccess/RepoWriteAccess.java
Labels: backend, bug

#175 Remove guided install script
  guided_install.py
Labels: meta

#173 Upload tar files
  backend/backend/pom.xml
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/FindHashIterationsCommand.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/GlobalConfig.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/HashPerformanceTestCommand.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/ArchiveAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/TokenReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/TokenWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/archives/BenchRepoArchive.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/archives/RepoArchiveManager.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/archives/TarArchiveManager.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/exceptions/AddRepoException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/exceptions/CommitLogException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/exceptions/MalformedRepoException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/exceptions/PrepareTransferException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/exceptions/RepoAccessException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/exceptions/TransferException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/hashalgorithm/Argon2Algorithm.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/benchrepo/BenchRepo.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/queue/Queue.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/Listener.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/archiveaccess/ArchiveReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/archiveaccess/exceptions/TarRetrieveException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/archiveaccess/exceptions/TarTransferException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/repoaccess/entities/RepoId.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/taskaccess/TaskReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/taskaccess/TaskWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/QueueEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/TeleRunner.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/storage/ManagedDirs.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/storage/db/DatabaseStorage.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/storage/repo/RepoStorage.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/storage/tar/TarFileStorage.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/util/TransferUtils.java
  backend/backend/src/main/resources/example_config.yml
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/access/hashalgorithm/Argon2AlgorithmTest.java
  backend/shared/src/test/java/de/aaaaaaah/velcom/shared/util/execution/ProgramExecutorTest.java
  docs/public-api/public-api.v2.yaml
  frontend/src/components/FileSelectComponent.vue
  frontend/src/components/RepoSelectionComponent.vue
  frontend/src/components/TaskRunnerOutput.vue
  frontend/src/components/dialogs/LoginDialog.vue
  frontend/src/components/dialogs/RepoAddDialog.vue
  frontend/src/components/dialogs/UploadTarDialog.vue
  frontend/src/components/overviews/TarTaskOverview.vue
  frontend/src/components/rundetail/CommitDetail.vue
  frontend/src/components/rundetail/MeasurementsDisplay.vue
  frontend/src/components/rundetail/RunDetail.vue
  frontend/src/store/modules/queueStore.ts
  frontend/src/views/Queue.vue
  frontend/src/views/RunCommitDetailView.vue
  frontend/src/views/RunComparison.vue
  frontend/src/views/ShareGraphLinkDialog.vue
  frontend/src/views/TaskDetailView.vue
Labels: api, backend, docs, frontend

#177 Allow up to 2GB in POST request payloads (TAR upload)
  docs/nginx.conf
Labels: backend

#178 Add a metric for checkstyle violations
  backend/pom.xml
  bench
Labels: backend

#181 Some metrics
  backend/pom.xml
  bench
Labels: meta

#182 Link chips on home page to relevant run comparison
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/runcomparison/DimensionDifference.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/runcomparison/RunComparator.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonDimensionDifference.java
  docs/public-api/public-api.v2.yaml
  frontend/src/components/overviews/MultipleRunOverview.vue
  frontend/src/store/types.ts
  frontend/src/util/CommitComparisonJsonHelper.ts
Labels: api, backend, frontend

#171 Show queuing information in task detail
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/QueueEndpoint.java
  docs/public-api/public-api.v2.yaml
  frontend/src/components/TaskRunnerOutput.vue
  frontend/src/store/modules/queueStore.ts
  frontend/src/util/TimeUtil.ts
  frontend/src/views/TaskDetailView.vue
Labels: api, backend, frontend

#180 Re-add "One up" endpoint
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/committaccess/CommitReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/QueueEndpoint.java
  docs/public-api/public-api.v2.yaml
  frontend/src/components/CommitBenchmarkActions.vue
  frontend/src/store/modules/queueStore.ts
Labels: api, backend, frontend
