Repository IPDSnelting/velcom, pull requests merged in 2020-07, with the labels that each got.

#12 Move installation instructions to wiki
  README.md
Labels: docs

#13 Nest run inserts into a transaction
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/BenchmarkWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/storage/db/DatabaseStorage.java
Labels: backend, bug

#10 Parallel graphs
  frontend/.editorconfig
  frontend/package.json
  frontend/src/components/dialogs/DatapointDialog.vue
  frontend/src/components/graphs/Dygraph-Detail.vue
  frontend/src/components/graphs/ECharts-Detail.vue
  frontend/src/views/RepoDetail.vue
  frontend/src/vue-echarts.d.ts
  frontend/vue.config.js
  frontend/yarn.lock
Labels: frontend

#11 Frontend makeover
  frontend/src/components/repodetail/RepoBaseInformation.vue
  frontend/src/components/repodetail/RepoCommitOverview.vue
Labels: frontend

#14 KIT Deployment
  .github/workflows/docker-publish.yml
  docs/deploy-kit.sh
  docs/kit-deployment.crt.pem
  frontend/.env.production
  frontend/.env.production-kit-single-port
  frontend/.env.production-single-port
  frontend/vue.config.js
Labels: meta

#22 Use proper v-btn-toggle API to mark selection
  frontend/src/views/RepoDetail.vue
Labels: frontend

#21 Subtile snackbar messages
  frontend/src/App.vue
  frontend/src/axios-config-userdata.d.ts
  frontend/src/components/Snackbar.vue
  frontend/src/components/overviews/QueueOverview.vue
  frontend/src/main.ts
  frontend/src/store/modules/queueStore.ts
  frontend/src/store/modules/repoStore.ts
Labels: frontend

#32 [frontend] Fix public path settings
  frontend/.env.production
  frontend/.env.production-kit-single-port
  frontend/.env.production-single-port
  frontend/vue.config.js
Labels: frontend

#25 Resize the detail echarts chart to take up ~80% of the viewport height
  frontend/src/components/graphs/ECharts-Detail.vue
Labels: frontend

#28 Correct Echarts dag type on switch
  frontend/src/components/graphs/ECharts-Detail.vue
  frontend/src/views/RepoDetail.vue
Labels: bug, frontend

#30 Cache available measurement names for all repos
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/BenchmarkReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/BenchmarkWriteAccess.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/access/BenchmarkAccessTest.java
Labels: backend

#37 [frontend] Update yarn packages to fix lodash prototype pollution
  frontend/yarn.lock
Labels: frontend

#40 Respect site-url on manually updated pages
  frontend/src/views/RepoComparison.vue
  frontend/src/views/RepoDetail.vue
Labels: bug, frontend

#43 Only show ECharts config menu on right click
  frontend/src/components/graphs/ECharts-Detail.vue
Labels: frontend
