Repository IPDSnelting/velcom, pull requests merged in 2020-12, with the labels that each got.

#189 Support uploading of gzipped tars
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/queue/Queue.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/taskaccess/TaskWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/QueueEndpoint.java
  docs/public-api/public-api.v2.yaml
  frontend/src/components/FileSelectComponent.vue
Labels: backend

#97 Improve backend code coverage
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/Dispatcher.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/KnownRunner.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/PeriodicStatusRequester.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/TeleRunner.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/runner/DispatcherTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/runner/ServerMasterWebsocketServletTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/runner/single/PeriodicStatusRequesterTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/runner/single/TeleRunnerTest.java
  backend/pom.xml
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/benchmarking/BenchRequest.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/tmpdirs/BenchRepoDir.java
  backend/runner/src/test/java/de/aaaaaaah/velcom/runner/GitPropertiesTest.java
  backend/runner/src/test/java/de/aaaaaaah/velcom/runner/benchmarking/BenchmarkerTest.java
  backend/runner/src/test/java/de/aaaaaaah/velcom/runner/formatting/NamedSectionsTest.java
  backend/runner/src/test/java/de/aaaaaaah/velcom/runner/tmpdirs/BenchRepoDirTest.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/util/FileHelper.java
  backend/shared/src/test/java/de/aaaaaaah/velcom/shared/protocol/serialization/SerializerTest.java
  backend/shared/src/test/java/de/aaaaaaah/velcom/shared/protocol/statemachine/StateMachineTest.java
  backend/shared/src/test/java/de/aaaaaaah/velcom/shared/util/EitherTest.java
Labels: backend

#190 Stddev without differences
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/entities/MeasurementValues.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/runcomparison/DimensionDifference.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/runcomparison/RunComparator.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/CompareEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RunEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/utils/EndpointUtils.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonDimensionDifference.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonMeasurement.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonResult.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonMeasurementTest.java
  docs/public-api/public-api.v2.yaml
  frontend/src/components/overviews/MultipleRunOverview.vue
  frontend/src/components/rundetail/MeasurementsDisplay.vue
  frontend/src/store/types.ts
  frontend/src/util/CommitComparisonJsonHelper.ts
Labels: api, backend, frontend

#196 Sleep for 5 seconds between "get_status" requests
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/Delays.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/PeriodicStatusRequester.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/runner/single/PeriodicStatusRequesterTest.java
Labels: backend, bug

#197 Reschedule commits on another runner when one leaves
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/TeleRunner.java
Labels: backend

#198 Fix runner not being able to open ws connections after backend change
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/Connection.java
Labels: bug, runner

#199 Fix typo in run comparison commit display
  frontend/src/views/Home.vue
  frontend/src/views/RunComparison.vue
Labels: bug, frontend

#200 Make runner log messages less verbose
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/Connection.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/TeleBackend.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/benchmarking/Benchmarker.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/states/AwaitingBench.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/states/AwaitingRequestRunReply.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/states/AwaitingRun.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/states/RunnerState.java
  backend/runner/src/main/resources/logback.xml
  backend/runner/src/test/java/de/aaaaaaah/velcom/runner/benchmarking/BenchmarkerTest.java
Labels: runner

#203 Change significance criteria
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/recentruns/SignificantRunsCollector.java
Labels: backend

#205 Fix run detail endpoint by returning repo id for tars attached to repos
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/BenchmarkReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/AccessUtils.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/benchmarkaccess/entities/TarSource.java
Labels: backend, bug

#201 Document dockerfiles
  Dockerfile
  Dockerfile-Single-Port
Labels: meta

#211 Graph buffering
  frontend/src/components/graphs/DytailGraph.vue
  frontend/src/components/graphs/EchartsDetailGraph.vue
  frontend/src/components/graphs/OverscrollToZoom.ts
  frontend/src/store/modules/detailGraphStore.ts
  frontend/src/util/Debouncer.ts
  frontend/src/views/RepoDetail.vue
Labels: frontend

#210 Move token access to newaccess
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/recentruns/SignificantRunsCollector.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/taskaccess/TaskReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/taskaccess/TaskWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/tokenaccess/TokenReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/tokenaccess/TokenWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/tokenaccess/entities/AuthToken.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/tokenaccess/hashalgorithm/Argon2Algorithm.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/tokenaccess/hashalgorithm/HashAlgorithm.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/newaccess/tokenaccess/hashalgorithm/V1Argon2Algorithm.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/authentication/RepoAuthenticator.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/AllReposEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RepoEndpoint.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/newaccess/tokenaccess/hashalgorithm/Argon2AlgorithmTest.java
Labels: backend

#206 Display tar sources in run detail / comparison
  frontend/src/components/comparison/ComparisonRunInfo.vue
  frontend/src/components/overviews/TarOverview.vue
  frontend/src/views/RunCommitDetailView.vue
  frontend/src/views/RunComparison.vue
  frontend/src/views/TaskDetailView.vue
Labels: frontend

#191 Show significance chips in the run detail view
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/recentruns/SignificantRunsCollector.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/runcomparison/DimensionDifference.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RunEndpoint.java
  docs/public-api/public-api.v2.yaml
  frontend/src/components/RunSignificanceChips.vue
  frontend/src/components/overviews/MultipleRunOverview.vue
  frontend/src/components/rundetail/CommitDetail.vue
  frontend/src/store/modules/commitDetailComparisonStore.ts
  frontend/src/store/types.ts
  frontend/src/views/RunCommitDetailView.vue
Labels: api, backend, frontend

#202 Use the Day-Equidistant graph as the default mode
  frontend/src/components/CommitBenchmarkActions.vue
  frontend/src/components/graphs/EchartsDetailGraph.vue
  frontend/src/store/modules/detailGraphStore.ts
Labels: frontend

#204 Use dense table style for run comparison
  frontend/src/components/comparison/RunComparisonTable.vue
  frontend/src/views/RunComparison.vue
Labels: frontend

#216 Remove stddev colors and other minor issues
  frontend/src/axios-config-userdata.d.ts
  frontend/src/components/Snackbar.vue
  frontend/src/components/rundetail/MeasurementsDisplay.vue
  frontend/src/main.ts
  frontend/src/store/modules/commitDetailComparisonStore.ts
  frontend/src/store/modules/repoStore.ts
  frontend/src/views/Queue.vue
Labels: frontend
