Repository IPDSnelting/velcom, pull requests merged in 2021-01, with the labels that each got.

#223 Suppress double page refresh when using navigation buttons
  frontend/src/App.vue
  frontend/src/components/NavigationBar.vue
Labels: bug, frontend

#214 Use "xl" breakpoint earlier
  frontend/src/scss/variables.scss
Labels: frontend

#225 Expand fetched date range in permalinks by a day
  frontend/src/store/modules/detailGraphStore.ts
Labels: frontend

#220 Clean up some intellij warnings and checkstyle
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/archiveaccess/ArchiveReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/BenchmarkReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/BenchmarkWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/builder/NewRun.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/entities/sources/TarSource.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/caches/LatestRunCache.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/caches/RunCache.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/dimensionaccess/entities/Interpretation.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/dimensionaccess/entities/Unit.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/repocomparison/TimesliceComparison.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/utils/EndpointUtils.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/state/AwaitAbortRunReply.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/state/TimeoutState.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/TestCommit.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/data/repocomparison/TimesliceComparisonTest.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/Connection.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/benchmarking/BenchResult.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/protocol/HeartbeatHandler.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/util/FileHelper.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/util/StringOutputStream.java
  backend/shared/src/test/java/de/aaaaaaah/velcom/shared/protocol/statemachine/StateMachineTest.java
Labels: backend, runner, shared

#218 Ignore exceptions from closed runners, log runner disconnects
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/PeriodicStatusRequester.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/RunnerConnection.java
Labels: backend

#213 Persist task output in task detail view
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/QueueEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/Dispatcher.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/IDispatcher.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/KnownRunner.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/TeleRunner.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/runner/DispatcherTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/runner/single/TeleRunnerTest.java
  frontend/src/views/TaskDetailView.vue
Labels: backend, frontend

#219 Show whether a commit and its parents are tracked
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/CommitEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonCommit.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonCommitTest.java
  docs/public-api/public-api.v2.yaml
  frontend/src/components/rundetail/CommitDetail.vue
  frontend/src/store/types.ts
  frontend/src/util/CommitComparisonJsonHelper.ts
Labels: api, backend, frontend

#226 Try to make the cleansUpDisconnectedRunner test less flaky
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/runner/DispatcherTest.java
Labels: backend

#228 Update dependencies
  frontend/package.json
  frontend/src/components/NavigationBar.vue
  frontend/yarn.lock
Labels: frontend

#229 Python-based cli
  README.md
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/QueueEndpoint.java
  cli/.gitignore
  cli/README.md
  cli/pyproject.toml
  cli/setup.cfg
  cli/setup.py
  cli/velcom_cli/__init__.py
  cli/velcom_cli/commands/__init__.py
  cli/velcom_cli/commands/bench_dir.py
  cli/velcom_cli/commands/default_config.py
  cli/velcom_cli/commands/list_repos.py
  cli/velcom_cli/commands/print_config.py
  cli/velcom_cli/config.py
  docs/public-api/public-api.v2.yaml
Labels: api, backend, cli, docs, enhancement

#222 Search and compare runs
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/BenchmarkReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/entities/ShortRunDescription.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/exceptions/NoSuchRunException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/committaccess/entities/Commit.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/AllReposEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/CommitEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RepoEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RunEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/utils/EndpointUtils.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/exception/NoSuchRunExceptionMapper.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonBranch.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonRepo.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonShortRunDescription.java
  backend/backend/src/main/resources/db/migration/V9__latest_runs_view.sql
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/BenchmarkReadAccessTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonRepoTest.java
  docs/public-api/public-api.v2.yaml
  frontend/src/App.vue
  frontend/src/components/CommitBenchmarkActions.vue
  frontend/src/components/RepoSelectionComponent.vue
  frontend/src/components/comparison/ComparisonRunInfo.vue
  frontend/src/components/dialogs/RepoUpdateDialog.vue
  frontend/src/components/graphs/DytailGraph.vue
  frontend/src/components/graphs/EchartsDetailGraph.vue
  frontend/src/components/overviews/QueueOverview.vue
  frontend/src/components/overviews/RunOverview.vue
  frontend/src/components/overviews/TarTaskOverview.vue
  frontend/src/components/repodetail/RepoBaseInformation.vue
  frontend/src/components/repodetail/RepoGraph.vue
  frontend/src/components/repodetail/RepoGraphControls.vue
  frontend/src/components/repodetail/RepoGraphTimespanControls.vue
  frontend/src/components/rundetail/CommitDetail.vue
  frontend/src/components/rundetail/RunDetail.vue
  frontend/src/components/rundetail/RunInfo.vue
  frontend/src/components/search/RunSearch.vue
  frontend/src/components/search/RunSearchField.vue
  frontend/src/router/index.ts
  frontend/src/store/index.ts
  frontend/src/store/modules/detailGraphStore.ts
  frontend/src/store/modules/runSearchStore.ts
  frontend/src/store/types.ts
  frontend/src/util/RepoJsonHelper.ts
  frontend/src/util/RunSearchJsonHelper.ts
  frontend/src/util/StorePersistenceUtilities.ts
  frontend/src/views/Home.vue
  frontend/src/views/PrepareCompare.vue
  frontend/src/views/Queue.vue
  frontend/src/views/RepoDetail.vue
  frontend/src/views/RepoDetailFrame.vue
  frontend/src/views/RepoGraphView.vue
  frontend/src/views/RunCommitDetailView.vue
  frontend/src/views/RunComparison.vue
Labels: api, backend, frontend
