Repository IPDSnelting/velcom, pull requests merged in 2021-04, with the labels that each got.

#242 Overhaul comparison graph
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/repocomparison/GraphEntry.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/repocomparison/RepoComparison.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/repocomparison/RepoComparisonGraph.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/repocomparison/RepoDataResult.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/repocomparison/RepoGraphData.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/repocomparison/TimesliceComparison.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/repocomparison/grouping/CommitGrouper.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/repocomparison/grouping/GroupByDay.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/repocomparison/grouping/GroupByHour.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/repocomparison/grouping/GroupByWeek.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/GraphComparisonEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/GraphDetailEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/utils/EndpointUtils.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/data/repocomparison/TimesliceComparisonTest.java
  docs/public_api.yaml
  frontend/package.json
  frontend/src/components/RepoSelector.vue
  frontend/src/components/dialogs/GraphDatapointDialog.vue
  frontend/src/components/graphs/ComparisonGraph.vue
  frontend/src/components/graphs/DytailGraph.vue
  frontend/src/components/graphs/EchartsDetailGraph.vue
  frontend/src/components/graphs/GraphTimespanControls.vue
  frontend/src/components/graphs/OverscrollToZoom.ts
  frontend/src/components/graphs/comparison/ComparisonDimensionSelector.vue
  frontend/src/components/graphs/comparison/ComparisonGraph.vue
  frontend/src/components/graphs/comparison/ComparisonGraphSettings.vue
  frontend/src/components/graphs/comparison/RepoBranchSelector.vue
  frontend/src/components/graphs/crosshairIcon.ts
  frontend/src/components/repodetail/RepoGraph.vue
  frontend/src/store/modules/comparisonGraphStore.ts
  frontend/src/store/modules/detailGraphStore.ts
  frontend/src/store/modules/repoStore.ts
  frontend/src/store/persistence.ts
  frontend/src/store/types.ts
  frontend/src/util/DayEquidistantUtil.ts
  frontend/src/util/GraphJsonHelper.ts
  frontend/src/util/GraphNavigation.ts
  frontend/src/util/GraphVariantSelection.ts
  frontend/src/util/StorePersistenceUtilities.ts
  frontend/src/views/RepoComparison.vue
  frontend/src/views/RepoGraphView.vue
  frontend/yarn.lock
Labels: api, backend, frontend

#249 Fix repo comparison graph with multiple repos
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/committaccess/CommitReadAccess.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/access/committaccess/CommitReadAccessTest.java
  frontend/src/components/dialogs/ComparisonDatapointDialog.vue
  frontend/src/components/dialogs/GraphDatapointDialog.vue
  frontend/src/components/graphs/DytailGraph.vue
  frontend/src/components/graphs/EchartsDetailGraph.vue
  frontend/src/components/graphs/comparison/ComparisonGraph.vue
  frontend/src/store/modules/comparisonGraphStore.ts
  frontend/src/store/types.ts
  frontend/src/util/DayEquidistantUtil.ts
  frontend/src/util/GraphJsonHelper.ts
  frontend/src/util/StorePersistenceUtilities.ts
  frontend/src/views/RepoComparison.vue
Labels: backend, bug, frontend

#250 Fix adding repos
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/dbupdate/DbUpdater.java
Labels: backend, bug

#252 Fix queue issues
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/dbupdate/DbUpdater.java
  backend/backend/src/main/resources/db/migration/V12__commit_tracking_flags.sql
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/TestDb.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/BenchmarkReadAccessTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/access/committaccess/CommitReadAccessTest.java
Labels: backend, bug

#256 Various frontend fixes and enhancements
  frontend/src/components/CommitBenchmarkActions.vue
  frontend/src/components/InlineMinimalRepoDisplay.vue
  frontend/src/components/comparison/RunComparisonTable.vue
  frontend/src/components/dialogs/RepoAddDialog.vue
  frontend/src/components/dialogs/RepoUpdateDialog.vue
  frontend/src/components/graphs/comparison/ComparisonGraph.vue
  frontend/src/components/graphs/comparison/ComparisonGraphSettings.vue
  frontend/src/components/overviews/MultipleRunOverview.vue
  frontend/src/components/overviews/TarOverview.vue
  frontend/src/components/repodetail/RepoBaseInformation.vue
  frontend/src/components/repodetail/RepoGraph.vue
  frontend/src/components/rundetail/CommitDetail.vue
  frontend/src/components/search/SearchResultBranch.vue
  frontend/src/components/search/SearchResultList.vue
  frontend/src/router/index.ts
  frontend/src/store/modules/comparisonGraphStore.ts
  frontend/src/store/modules/detailGraphStore.ts
  frontend/src/store/modules/repoStore.ts
  frontend/src/store/types.ts
  frontend/src/util/LinkUtils.ts
  frontend/src/util/RepoJsonHelper.ts
  frontend/src/util/StorePersistenceUtilities.ts
  frontend/src/util/TimeUtil.ts
  frontend/src/views/Home.vue
  frontend/src/views/RepoComparison.vue
  frontend/src/views/RepoDetailFrame.vue
  frontend/src/views/RunCommitDetailView.vue
  frontend/src/views/Search.vue
  frontend/src/views/ShareGraphLinkDialog.vue
Labels: frontend
