Repository IPDSnelting/velcom, pull requests merged in 2021-02, with the labels that each got.

#230 Improve Documentation
  .github/workflows/docker-publish.yml
  Dockerfile
  Makefile
  README.md
  backend/Makefile
  backend/backend/src/main/resources/RepoComparison_sql_statements.sql
  backend/runner/Dockerfile
  backend/runner/src/main/resources/example_config.json
  docs/bench_repo_specification.md
  docs/contributing.md
  docs/install.md
  docs/install_docker.md
  docs/install_manual.md
  docs/nginx-site
  docs/public-api/public-api.v1.yaml
  docs/public_api.yaml
  docs/runner_protocol_specification.md
  frontend/.env.production-aaaaaaah
  frontend/.env.production-kit
  frontend/Dockerfile
  frontend/Makefile
  scripts/build-backend
  scripts/build-frontend
  scripts/deploy-aaaaaaah/deploy.sh
  scripts/deploy-aaaaaaah/update-docker-image.sh
  scripts/deploy-kit/deploy.sh
  scripts/deploy-kit/kit-deployment.crt.pem
  scripts/docker/Dockerfile
  scripts/docker/build-docker
  scripts/docker/example-site
  scripts/docker/nginx.conf
  scripts/docker/run-docker
  scripts/docker/start-backend-docker.sh
Labels: api, docs, meta

#239 Fix default value of "metrics" argument for "build-docker" script
  scripts/docker/build-docker
Labels: bug, meta

#232 Update Echarts and fix a few small issues
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonRunner.java
  docs/public_api.yaml
  frontend/.prettierignore
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/graphs/DimensionSelection.vue
  frontend/src/components/graphs/DytailGraph.vue
  frontend/src/components/graphs/EchartsDetailGraph.vue
  frontend/src/components/graphs/GraphPlaceholder.vue
  frontend/src/components/overviews/QueueOverview.vue
  frontend/src/components/overviews/WorkerOverview.vue
  frontend/src/components/repodetail/RepoBaseInformation.vue
  frontend/src/components/repodetail/RepoCommitOverview.vue
  frontend/src/components/repodetail/RepoGraph.vue
  frontend/src/components/repodetail/RepoGraphControls.vue
  frontend/src/components/repodetail/RepoGraphTimespanControls.vue
  frontend/src/components/rundetail/CommitDetail.vue
  frontend/src/components/rundetail/RunDetail.vue
  frontend/src/css/AnsiTheme.css
  frontend/src/plugins/vuetify.ts
  frontend/src/shims-vuetify.d.ts
  frontend/src/store/modules/detailGraphStore.ts
  frontend/src/store/types.ts
  frontend/src/util/MeasurementUtils.ts
  frontend/src/util/QueueJsonHelper.ts
  frontend/src/util/StorePersistenceUtilities.ts
  frontend/src/util/TextUtils.ts
  frontend/src/views/Home.vue
  frontend/src/views/RepoComparison.vue
  frontend/src/views/RunCommitDetailView.vue
  frontend/src/views/RunComparison.vue
  frontend/src/views/ShareGraphLinkDialog.vue
  frontend/vue.config.js
  frontend/yarn.lock
Labels: frontend

#235 Add a global search functionality
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/BenchmarkReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/committaccess/CommitReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RunEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/SearchEndpoint.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/BenchmarkReadAccessTest.java
  docs/public_api.yaml
  frontend/src/components/CommitBenchmarkActions.vue
  frontend/src/components/overviews/TarTaskOverview.vue
  frontend/src/components/repodetail/RepoBaseInformation.vue
  frontend/src/components/search/RunSearch.vue
  frontend/src/components/search/RunSearchField.vue
  frontend/src/components/search/SearchResultCommit.vue
  frontend/src/components/search/SearchResultList.vue
  frontend/src/components/search/SearchResultRun.vue
  frontend/src/components/search/SearchResultTar.vue
  frontend/src/router/index.ts
  frontend/src/store/modules/runSearchStore.ts
  frontend/src/store/types.ts
  frontend/src/util/RunSearchJsonHelper.ts
  frontend/src/views/PrepareCompare.vue
  frontend/src/views/RepoDetailFrame.vue
  frontend/src/views/Search.vue
Labels: api, backend, frontend

#234 Change order of recent runs
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/BenchmarkReadAccess.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/TestDb.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/BenchmarkReadAccessTest.java
Labels: backend

#236 More runner protocol logging
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/runner/single/state/TeleRunnerState.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/Connection.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/TeleBackend.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/states/RunnerState.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/protocol/serialization/serverbound/ServerBoundPacket.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/protocol/serialization/serverbound/ServerBoundPacketType.java
Labels: backend, bug, runner

#237 Document how to upload tars with curl
  README.md
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/taskaccess/TaskWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/taskaccess/exceptions/TaskCreationException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/queue/Queue.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/QueueEndpoint.java
Labels: docs

#240 Add some DB statistics to debug endpoint
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/BenchmarkReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/DebugEndpoint.java
Labels: backend

#243 Attempt to fix fd leak
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/Connection.java
  backend/runner/src/main/java/de/aaaaaaah/velcom/runner/TeleBackend.java
Labels: bug, runner
