Repository IPDSnelting/velcom, pull requests merged in 2021-06, with the labels that each got.

#262 GitHub Bot
  backend/backend/pom.xml
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/GlobalConfig.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/RunnerAwareServerFactory.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/committaccess/CommitReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/repoaccess/RepoReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/repoaccess/RepoWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/repoaccess/entities/Repo.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/taskaccess/entities/TaskPriority.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/queue/Policy.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/Listener.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/SynchronizeCommitsException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/commits/DbUpdateException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/commits/DbUpdater.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/github/FinishedGithubCommand.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/github/GithubCommand.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/github/GithubCommandState.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/github/GithubPrInteractor.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/github/JsonBodyHandler.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/AllReposEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RepoEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonRepo.java
  backend/backend/src/main/resources/db/migration/V13__add_github_bot_data.sql
  backend/backend/src/main/resources/example_config.yml
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/TestDb.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/access/committaccess/CommitReadAccessTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/access/repoaccess/entities/RepoTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/data/queue/PolicyTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonRepoTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/storage/db/DatabaseStorageTest.java
  docs/public_api.yaml
  frontend/src/components/misc/InlineMinimalRepoDisplay.vue
  frontend/src/components/repodetail/GithubBotCommandChips.vue
  frontend/src/components/repodetail/GithubTokenConfiguration.vue
  frontend/src/components/repodetail/RepoBaseInformation.vue
  frontend/src/components/repodetail/RepoUpdateDialog.vue
  frontend/src/store/modules/repoStore.ts
  frontend/src/store/types.ts
  frontend/src/util/Serialisation.ts
  frontend/src/util/json/RepoJsonHelper.ts
Labels: api, backend, docs, enhancement, frontend

#270 Add one-ups with listener, not manual priority
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/QueueEndpoint.java
Labels: backend

#275 Miscellaneous frontend changes
  frontend/package.json
  frontend/src/components/graphs/graph/EchartsDetailGraph.vue
  frontend/src/components/repodetail/RepoBaseInformation.vue
  frontend/src/components/runs/RunSignificanceChips.vue
  frontend/src/router/index.ts
  frontend/yarn.lock
Labels: bug, dependencies, frontend

#271 Small fixes and adjustments for the GitHub bot
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/repoaccess/entities/Repo.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/Listener.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/github/GithubApiError.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/github/GithubPrInteractor.java
  frontend/src/components/repodetail/GithubBotCommandChips.vue
  frontend/src/components/repodetail/RepoBaseInformation.vue
Labels: backend, bug, enhancement, frontend

#277 Fix detail graph loading
  frontend/src/components/graphs/graph/EchartsDetailGraph.vue
Labels: bug, frontend

#276 More significance info
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/entities/MeasurementValues.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/recentruns/SignificantRun.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/recentruns/SignificantRunsCollector.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/runcomparison/RunComparator.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/significance/SignificanceDetector.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/significance/SignificanceFactors.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/data/significance/SignificanceReasons.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/Listener.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/github/GithubPrInteractor.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/CompareEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RecentRunsEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RunEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/utils/EndpointUtils.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonMeasurement.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonResult.java
  docs/public_api.yaml
  frontend/src/components/comparison/RunComparisonTable.vue
  frontend/src/components/overviews/MultipleRunOverview.vue
  frontend/src/components/rundetail/RunInfo.vue
  frontend/src/components/runs/RunSignificanceChips.vue
  frontend/src/store/modules/commitDetailComparisonStore.ts
  frontend/src/store/modules/newsStore.ts
  frontend/src/store/types.ts
  frontend/src/util/json/CommitComparisonJsonHelper.ts
  frontend/src/util/json/NewJsonHelper.ts
  frontend/src/views/RunCommitDetailView.vue
  frontend/src/views/RunComparison.vue
Labels: api, backend, frontend

#274 Implement a bar chart status comparison between repositories
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/GraphStatusComparisonEndpoint.java
  docs/public_api.yaml
  frontend/src/components/graphs/comparison/RepoBranchSelector.vue
  frontend/src/components/graphs/detail/MatrixDimensionSelection.vue
  frontend/src/components/graphs/detail/RepoGraph.vue
  frontend/src/components/graphs/detail/TreeDimensionSelection.vue
  frontend/src/components/graphs/helper/ExpandableDimensionSelection.vue
  frontend/src/components/graphs/helper/ShareGraphLinkDialog.vue
  frontend/src/components/graphs/statuscomparison/StatusComparisonGraph.vue
  frontend/src/components/misc/RepoSelectionComponent.vue
  frontend/src/components/misc/ThemeSelector.vue
  frontend/src/components/repodetail/GraphDimensionSelector.vue
  frontend/src/plugins/vuetify.ts
  frontend/src/router/index.ts
  frontend/src/store/index.ts
  frontend/src/store/modules/comparisonGraphStore.ts
  frontend/src/store/modules/detailGraphStore.ts
  frontend/src/store/modules/statusComparisonStore.ts
  frontend/src/store/persistence.ts
  frontend/src/store/types.ts
  frontend/src/util/Arrays.ts
  frontend/src/util/Texts.ts
  frontend/src/util/json/StatusComparisonJsonHelper.ts
  frontend/src/views/RepoComparison.vue
  frontend/src/views/RepoGraphView.vue
  frontend/src/views/StatusComparison.vue
  frontend/src/views/TimelineComparison.vue
Labels: enhancement, frontend

#278 Get rid of a few TODOs
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/BenchmarkReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/entities/ShortRunDescription.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/caches/RunCache.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/taskaccess/TaskWriteAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/taskaccess/entities/Task.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/taskaccess/exceptions/NoSuchTaskException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/Listener.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/listener/commits/DbUpdater.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/QueueEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/RepoEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/SearchEndpoint.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/utils/ArgumentParseException.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/jsonobjects/JsonShortRunDescription.java
  backend/shared/src/main/java/de/aaaaaaah/velcom/shared/protocol/serialization/serverbound/GetStatusReply.java
  bench
Labels: backend

#279 Clean up search API
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/ServerMain.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/BenchmarkReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/entities/SearchRunDescription.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/committaccess/CommitReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/repoaccess/RepoReadAccess.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/access/repoaccess/entities/SearchBranchDescription.java
  backend/backend/src/main/java/de/aaaaaaah/velcom/backend/restapi/endpoints/SearchEndpoint.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/access/benchmarkaccess/BenchmarkReadAccessTest.java
  backend/backend/src/test/java/de/aaaaaaah/velcom/backend/access/repoaccess/RepoReadAccessTest.java
  docs/public_api.yaml
  frontend/src/components/search/SearchResultBranch.vue
  frontend/src/components/search/SearchResultList.vue
  frontend/src/components/search/SearchResultRun.vue
  frontend/src/components/search/SearchResultTar.vue
  frontend/src/store/types.ts
  frontend/src/util/json/RunSearchJsonHelper.ts
  frontend/src/views/Search.vue
Labels: api, backend, frontend

#280 Small frontend fixes
  frontend/.eslintrc.js
  frontend/src/components/graphs/graph/EchartsDetailGraph.vue
  frontend/src/store/modules/detailGraphStore.ts
  frontend/src/store/persistence.ts
  frontend/yarn.lock
Labels: bug, frontend

#281 Fix date selection dialogs in detail graph
  frontend/src/components/graphs/helper/GraphTimespanControls.vue
  frontend/src/store/modules/comparisonGraphStore.ts
  frontend/src/store/modules/repoStore.ts
  frontend/src/store/types.ts
Labels: bug, frontend
